body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

.btnLimpar:hover {
  background-color: rgb(255, 73, 73)
}

table {
  width: 50%;
  margin: auto;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.message{
  display: flex;
  justify-content: center;
}

.item-riscado {
  text-decoration: line-through;
}

.btnLimpar{
  background-color: rgb(219, 10, 10);

}
